<%- include("header") %>
<h1 id="aboutHeader">About Page</h1>
<div>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi dolorum
  dicta esse aliquam voluptatum, accusantium magni quos ab delectus temporibus
  corporis, illum aliquid nulla nisi! Magni nisi impedit corporis suscipit. Ut
  obcaecati iure esse cupiditate aperiam ab inventore laboriosam molestiae
  sapiente ea eius saepe, dolorem illo provident reprehenderit quam magnam
  nostrum ipsam sequi quod, expedita iusto ex necessitatibus autem? Hic! Numquam
  perspiciatis dolore sint assumenda facere quaerat eius totam rem commodi
  inventore nisi quibusdam fuga porro, est ipsum libero molestiae eligendi.
  Corporis harum veritatis voluptates fugit, culpa animi repudiandae porro!
</div>
<%- include("footer") %>
